<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
 <servlet>
    <servlet-name>Jacky01</servlet-name>
    <servlet-class>tw.iii.org.Jacky01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jacky01</servlet-name>
    <url-pattern>/Jacky01</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>uptoyou</servlet-name>
    <servlet-class>tw.iii.org.Jacky04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uptoyou</servlet-name>
    <url-pattern>/Jacky04.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFilename</servlet-name>
    <servlet-class>tw.iii.org.Jacky05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFilename</servlet-name>
    <url-pattern>/Jacky05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>tw.iii.org.Jacky07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/Jacky07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload08</servlet-name>
    <servlet-class>tw.iii.org.Jacky08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload08</servlet-name>
    <url-pattern>/Jacky08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload09</servlet-name>
    <servlet-class>tw.iii.org.Jacky09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload09</servlet-name>
    <url-pattern>/Jacky09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload10</servlet-name>
    <servlet-class>tw.iii.org.Jacky10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload10</servlet-name>
    <url-pattern>/Jacky10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload11</servlet-name>
    <servlet-class>tw.iii.org.Jacky11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload11</servlet-name>
    <url-pattern>/Jacky11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload12</servlet-name>
    <servlet-class>tw.iii.org.Jacky12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload12</servlet-name>
    <url-pattern>/Jacky12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload13</servlet-name>
    <servlet-class>tw.iii.org.Jacky13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload13</servlet-name>
    <url-pattern>/Jacky13</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload14</servlet-name>
    <servlet-class>tw.iii.org.Jacky14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload14</servlet-name>
    <url-pattern>/Jacky14</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JDBC</servlet-name>
    <servlet-class>tw.iii.org.Jacky15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBC</servlet-name>
    <url-pattern>/Jacky15</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTable</servlet-name>
    <servlet-class>tw.iii.org.Jacky16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTable</servlet-name>
    <url-pattern>/Jacky16</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTable</servlet-name>
    <servlet-class>tw.iii.org.Jacky17</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>checkPw</servlet-name>
    <url-pattern>/Jacky18</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkPw</servlet-name>
    <servlet-class>tw.iii.org.Jacky18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTable</servlet-name>
    <url-pattern>/Jacky17</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Json</servlet-name>
    <servlet-class>tw.iii.org.Jacky20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Json</servlet-name>
    <url-pattern>/Jacky20</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>tw.iii.org.Jacky21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Jacky21</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <servlet-name>Image2</servlet-name>
    <servlet-class>tw.iii.org.Jacky24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image2</servlet-name>
    <url-pattern>/Jacky24</url-pattern>
  </servlet-mapping>
 
 
 
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Jacky26</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>tw.iii.org.Jacky26</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie2</servlet-name>
    <url-pattern>/Jacky27</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie2</servlet-name>
    <servlet-class>tw.iii.org.Jacky27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie3</servlet-name>
    <url-pattern>/Jacky28</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie3</servlet-name>
    <servlet-class>tw.iii.org.Jacky28</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Jacky35</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>tw.iii.org.Jacky35</servlet-class>
  </servlet> 
 
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/Jacky32</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session1</servlet-name>
    <servlet-class>tw.iii.org.Jacky32</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/Jacky33</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session2</servlet-name>
    <servlet-class>tw.iii.org.Jacky33</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Session3</servlet-name>
    <url-pattern>/Jacky34</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session3</servlet-name>
    <servlet-class>tw.iii.org.Jacky34</servlet-class>
  </servlet>
 
 
 
  <servlet-mapping>
    <servlet-name>Cookie4</servlet-name>
    <url-pattern>/Jacky30</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie4</servlet-name>
    <servlet-class>tw.iii.org.Jacky30</servlet-class>
  </servlet>
  <context-param>
    <description>檔案上傳目錄</description>
    <param-name>upload-path</param-name>
    <param-value>/Users/hungming/Documents/workspace/JavaWeb/WebContent/upload</param-value>
  </context-param>
  <context-param>
    <description>Template</description>
    <param-name>template-path</param-name>
    <param-value>/Users/hungming/Documents/workspace/JavaWeb/WebContent/template</param-value>
  </context-param>
  <context-param>
    <description>Template</description>
    <param-name>img-path</param-name>
    <param-value>/Users/hungming/Documents/workspace/JavaWeb/WebContent/imgs</param-value>
  </context-param>
</web-app>